# Python 3
__pycache__/

# macOS
.DS_Store

# Atom Remote Sync
.remote-sync.json

# Visual Studio Code
.vscode/

Pipfile.lock
.ipynb_checkpoints

# data
Bestand_Einzelbaeume_Koeln_0.csv
raw_trees_cologne_2017.jsonl
trees_cologne_2017.jsonl
close_tree_pairs_distance.jsonl